<!DOCTYPE html>
<html>
  <head>
    <title>Subscribe to a cool new product</title>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <header>
        <p>
            Logged in as {{ request.user.email }}
        </p>
    </header>
    <section>

<!--        Show product details-->
      <div class="product">
        <div class="description">
          <h3>Starter - pro</h3>
          <h5>$20.00 / month</h5>
        </div>
      </div>

<!--        Go to checkout button -->
      <form class="checkout-form" action="{%  url 'create-checkout-session' %}" method="POST">
          {% csrf_token %}

        <!-- Add a hidden field with the lookup_key of your stripe Price -->
        <input type="hidden" name="product_id" value="prod_Q942PDhLs8Okau" />
        <button id="checkout-and-portal-button" type="submit">Checkout 1 </button>
      </form>
      <div class="product">
        <div class="description">
          <h3>Starter - pro max</h3>
          <h5>$30.00 / month</h5>
        </div>
      </div>

      <form class="checkout-form" action="{%  url 'create-checkout-session' %}" method="POST">
        {% csrf_token %}

      <!-- Add a hidden field with the lookup_key of your stripe Price -->
      <input type="hidden" name="product_id" value="prod_Q96BvyJyT8HymN" />
      <button id="checkout-and-portal-button" type="submit">Checkout 2 </button>
    </form>
    </section>
  </body>
</html>

<style>
    .product {
        display: flex;
        justify-content: center;
        padding: 20px 10px;
        border: 1px dashed lightgreen;
    }
    .checkout-form {
        display: flex;
        justify-content: center;
        padding: 20px 10px;
    }

</style>